<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>6895070664-aj6odalc2nr3llh186c3a1oeqiudnlu4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.6895070664-aj6odalc2nr3llh186c3a1oeqiudnlu4</string>
	<key>API_KEY</key>
	<string>AIzaSyB6rO6u-L-nZJKvkd0UFA6EyXq45sbsIKA</string>
	<key>GCM_SENDER_ID</key>
	<string>6895070664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DV.MyMusic</string>
	<key>PROJECT_ID</key>
	<string>mymusic-1312e</string>
	<key>STORAGE_BUCKET</key>
	<string>mymusic-1312e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:6895070664:ios:3cfcce37f793a28d0a64fd</string>
</dict>
</plist>